$base-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue";
.edit-body {
  display: flex;
  flex-direction: row;
}
.edit-details {
  flex-grow: 40;
}

.user-img-chat-add {
  width: 35px;
  height: 35px;
  background-color: RGB(222, 225, 233);
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $base-font;
  font-weight: 600;
  color: #42516e;
}

  .card-details-members-open:after {
    font-family: icomoon;
    content: '\e901';
    margin-right: 5px;
    font-size: 17px;
    text-align: center;
    line-height: 10px;
    width: 35px;
    height: 35px;
    background-color: RGB(235, 235, 235);
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #42516e;
    display: flex;
    // .card-details-members-open:hover {
    //   background-color: RGB(222, 225, 233);
    // }
  }

.edit {
  background-color: #f4f5f7;
  width: 800px;
  height: 422px;
  align-self: center;
  position: absolute;
  left: 30%;
  right: 30%;
  border-radius: 5px;
  padding: 10px 10px;
  top: 18vh;

  .edit-details-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .list-pages {
    font-family: $base-font;
    font-size: 14px;
    margin-left: 45px;
    color: #7c838e;
  }
  p {
    margin: 0;
    padding: 0;
    height: 22px;
    width: 22px;
  }
  .edit-details-header-logo:before {
    font-family: icomoon;
    content: "\e911";
    font-size: 22px;
    color: #42516e;
  }
  .close-save-edit:before {
    font-family: icomoon;
    content: "\e91b";
    font-size: 22px;
    color: #42516e;
  }
  .edit-details-description-logo:before {
    font-family: icomoon;
    content: "\e921";
    font-size: 22px;
    color: #42516e;
  }
  .edit-details-activity-logo:before {
    font-family: icomoon;
    content: "\e900";
    font-size: 22px;
    color: #42516e;
  }
  .edit-details-activity-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    span {
      display: flex;
      align-items: center;
    }
    h1 {
      display: inline-block;
      width: auto;
      margin: 0;
      min-height: 18px;
      min-width: 40px;
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      color: #172b4d;
      padding-left: 10px;
    }
    button {
      background-color: rgba(9, 30, 66, 0.04);
      box-shadow: none;
      text-align: center;
      cursor: pointer;
      color: #172b4d;
      -webkit-appearance: none;
      border-radius: 3px;
      border: none;
      font-weight: 400;
      padding: 2px 6px;
      width: 100px;
      font: $base-font;
    }
  }
  .edit-details-description {
    textarea {
      background-color: rgba(9, 30, 66, 0.04);
      box-shadow: none;
      border: none;
      border-radius: 3px;
      display: block;
      min-height: 40px;
      padding: 8px 12px;
      text-decoration: none;
      width: 99%;
      resize: none;
      margin-bottom: 20px;
      font-family: $base-font;
    }
    .edit-details-description-header {
      margin-left: 10px;
      margin-right: 10px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      h1 {
        display: inline-block;
        width: auto;
        margin: 0;
        min-height: 18px;
        min-width: 40px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        color: #172b4d;
        padding-left: 10px;
      }
    }
  }
  button {
    border: none;
    background-color: #f4f5f7;
    height: 40px;
    font-family: $base-font;
    font-size: 14px;
    color: #172b4d;
  }
  .edit-details-header-logo:before {
    font-family: icomoon;
    content: "\e911";
    font-size: 22px;
    color: #42516e;
    border: none;
    cursor: pointer;
    width: 30px;
  }
  .edit-details-header-logo:hover {
    background-color: rgba(9, 30, 66, 0.08);

    border-radius: 50%;
    border: none;
  }
}

.edit-details-textarea-header {
  background: transparent;
  border-radius: 3px;
  box-shadow: none;
  font-size: 20px;
  font-weight: 600;
  padding: 4px 4px;
  resize: none;
  outline: none;
  border: none;
  width: 85%;
  height: 35px;
  display: flex;
  align-content: flex-end;
  color: #42516e;
  font-family: $base-font;
}

.edit-details-textarea-header:focus {
  background-color: #fff;
  box-shadow: inset 0 0 0 2px #0079bf;
  height: 35px;
  line-height: 1;
}

.edit-details-textarea-header:before {
  font-family: icomoon;
  content: "\e93a";
}
.edit-activity-description {
  display: flex;
  margin-top: 20px;
  .user-img-chat-add {
    width: 35px;
    height: 35px;
    background-color: RGB(222, 225, 233);
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $base-font;
    font-weight: 600;
    color: #42516e;
  }
  textarea {
    background-color: rgba(9, 30, 66, 0.04);
    box-shadow: none;
    border: none;
    border-radius: 3px;
    display: block;
    min-height: 40px;
    padding: 8px 12px;
    text-decoration: none;
    width: 93%;
    resize: none;
    margin-bottom: 20px;
    font-family: $base-font;
  }
}


.edit-add-to-card{
 display: flex;
 flex-direction: column;
 flex-grow: 1;
 
  button{
  background-color: rgba(9, 30, 66, 0.04);
  box-shadow: none;
  text-align: start;
  cursor: pointer;
  color: #42526e;
  -webkit-appearance: none;
  border-radius: 3px;
  border: none;
  font-weight: 400;
  padding: 2px 6px;
  width: 168px;
  height:32px;
  font: $base-font;
  margin-top: 10px;
 }
 
 .edit-add-to-card-members:before {
  font-family: icomoon;
  content: "\e945";
  font-size: 16px;
}

.card-member-pos {
  position: relative;
}


.edit-add-to-card-labels:before {
  font-family: icomoon;
  content: "\e93e";
  font-size: 16px;
}


.edit-add-to-card-checklist:before {
  font-family: icomoon;
  content: "\e917";
  font-size: 16px;
}

  button {
    background-color: rgba(9, 30, 66, 0.04);
    box-shadow: none;
    text-align: start;
    cursor: pointer;
    color: #42526e;
    -webkit-appearance: none;
    border-radius: 3px;
    border: none;
    font-weight: 400;
    padding: 2px 6px;
    width: 168px;
    height: 32px;
    font: $base-font;
    margin-top: 10px;
  }

  .edit-add-to-card-members:before {
    font-family: icomoon;
    content: "\e945";
    font-size: 16px;
  }

  .edit-add-to-card-labels:before {
    font-family: icomoon;
    content: "\e93e";
    font-size: 16px;
  }

  .edit-add-to-card-checklist:before {
    font-family: icomoon;
    content: "\e917";
    font-size: 16px;
  }

  .edit-add-to-card-dates:before {
    font-family: icomoon;
    content: "\e91a";
    font-size: 16px;
  }

  .edit-add-to-card-attachment:before {
    font-family: icomoon;
    content: "\e908";
    font-size: 16px;
  }

  .edit-add-to-card-cover:before {
    font-family: icomoon;
    content: "\e913";
    font-size: 16px;
  }
  h1 {
    display: inline-block;
    width: auto;
    margin: 0;
    min-height: 18px;
    min-width: 40px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    color: #42526e;
  }
}

.card-details-members {
  padding-left: 40px;
 
  h1 {
    color: #5e6c84;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.04em;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .user-img-chat-add {
    margin-right: 3px;
  }
}

