$nav-size: 20px;
.board{
  width: 100vw;
  height: 100vh ;
  position: absolute;
  top:0;
  left: 0;
  z-index: -1;
  background-size: cover;
}


.window-screen{
background-color: rgba(0, 0, 0, 0.659);
height: 100%;
width: 100%;
z-index: 1;
position: fixed;
top: 0;
left: 0;
display: flex;
overflow-y: auto;
align-items: flex-start;
justify-content: center;
padding-top: 50px;
padding-bottom: 50px;
}