.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

  p {
    font-size: 32px;
    font-weight: 500;
    color: rgba(61, 71, 77, 0.5);
    letter-spacing: normal;
    margin: 0;
    
    margin-top: 90px;
    font-family: Light;
  }
}
.home-nav {
  height: 40px;
  width: 100%;
  background-color: #0079be;
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
}
.home-title {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: -2px;
  font-family: Heavy;
  span {
    font-family: Light;
    color: #9ea3a6;
  }
}

.home-btn {
  background-color: #00aaff;
  box-shadow: 0 10px 30px -10px #00aaff;
  color: white;
  line-height: 72px;
  height: 72px;
  padding: 0 40px;
  font-size: 21px;
  border-radius: 36px;
  -webkit-appearance: none;
  font-family: "Avenir", "Avenir Next", "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: none;
  resize: none;
  cursor: pointer;
  align-items: center;
  white-space: nowrap;
  overflow: visible;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
  width: 300px;
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    box-shadow: 0 10px 30px -5px #00aaff;
  }
  &::after {
    font-family: icomoon;
    content: "\e930";
    font-size: 21px;
    color: #69788d;
    color: #f4f5f7;
  margin-top: 6px;
  margin-left: 5px;
  }
}

.hero-pic {
  position: relative;
  margin-top: 50px;
}

.screen-on {
  position: absolute;
  top: 0;
  left: 0;
}
.home-subtitle-a {
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  color: rgba(61, 71, 77, 0.5);
  letter-spacing: normal;
}

.home-title-a {
  font-size: 60px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -1px;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px 10px;
  background-image: url("https://res.cloudinary.com/taskit-sprint/image/upload/v1622802550/b4bwflj90vlzoaosf9ro.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: calc(100vw / 1440 * 520);
  justify-content: space-between;
}
.home-subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 0;
    font-family: Light;
  }
}

.home-pargrafe-a {
  font-family: Light;
  font-size: 21px;
  color: rgba(61, 71, 77, 0.5);
  margin-bottom: 40px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
  margin-right: 250px;
  margin-left: 250px;
}

.home-section-ui {
  background-image: url(../../img/logo192.png);
  display: flex;
  align-items: center;

  padding: 0;
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  width: 200px;
  margin-top: 50px;
}

.parallax-banner-layer-1 {
  z-index: 1;
}
.parallax-inner {
  margin-left: 100px;
  height: 300px;
  z-index: 0;
}
.main-img-home {
  background-image: url("https://res.cloudinary.com/taskit-sprint/image/upload/v1622801732/rf2rdwapt9gywfoo61ua.png");
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: contain;
  height: 460px;
  width: 1660px;
}
